@model Library_Management_System.Models.Entity.Author
@{
    ViewBag.Title = "AuthorAdd";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<form class="form-group" method="post">
    <div> </div>
    <div style="margin-top:15px">
        <label>Yazar Adı</label>
        @Html.TextBoxFor(y => y.NAME, new { @class = "form-control" })

    </div>
    <div style="margin-top:15px">
        <label>Yazar Soyadı</label>
        @Html.TextBoxFor(y => y.SURNAME, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Yazar Detay</label>
        @Html.TextAreaFor(y => y.DETAILS, new { @class = "form-control" })

    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">yeni yazar ekle</button>
       
    </div>

</form>
