@using Library_Management_System.Models.Entity
@model List<Empyloyees>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Personeller</h2>

<table class="table table-striped">
    <tr style="background-color:rgb(252,178,22)">
        <th>Kategori Id</th>
        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>

    </tr>

    @foreach (var prs in Model)
    {

        <tr>
            <td>@prs.Id</td>
            <td>@prs.Employee</td>
            <td><a href="/Employee/EmployeeDelete/@prs.Id" class="btn btn-danger">Sil</a></td>
            <td><a href="/Employee/EmployeeBring/@prs.Id" class="btn btn-primary list-group-item-heading">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Employee/EmployeeAdd" class="btn btn-primary">Yeni Personel Ekle</a>